{{> enTete}}
{{> menu}}		
<h1> Ajouter une citation</h1>
{{#if nonValide}}
	<form action="/verifierCitation" method="POST">
		<label>Enseignant</label>
		<select name="prof" selected="{{nonValide.prof}}">
			{{#each enseignant}}
				<option value="{{this.per_nom}}">{{this.per_nom}}</option>
			{{/each}}
		</select>
		<br>
		<label>Date de la Citation</label>
		<input name="date" type="date" value="{{nonValide.date}}">
		<br>
		<label>Citation</label>
		<textarea name="citation" >{{citation}}</textarea>
		<br>
		<input type="submit" value="Ajouter">
	</form>
{{else}}
	{{#if etu}}
		<img src="/image/valid.png"/> {{resu}}
	{{else}}
		{{#if prof}}
			<img src="/image/erreur.png"/> {{resu}}
		{{else}}
			<form action="/verifierCitation" method="POST">
				<label>Enseignant</label>
				<select name="prof">
					{{#each enseignant}}
						<option value="{{this.per_nom}}">{{this.per_nom}}</option>
					{{/each}}
				</select>
				<br>
				<label>Date de la Citation</label>
				<input name="date" type="date">
				<br>
				<label>Citation</label>
				<textarea name="citation"></textarea>
				<br>
				<input type="submit" value="Ajouter">
			</form>
		{{/if}}
	{{/if}}
{{/if}}