{{> enTete}}
{{> menu}}
 <h1>Détail sur l'étudiant {{infoEtudiant.per_nom}}</h1>
 <table>
 	<tr>
 		<th>Prénom</th>
 		<th>Mail</th>
 		<th>Tel</th>
 		<th>Département</th>
 		<th>Ville</th>
 	</tr>
	<tr><td>{{infoEtudiant.per_prenom}}</td>
		<td>{{infoEtudiant.per_mail}}</td>
		<td>{{infoEtudiant.per_tel}}</td>
		<td>{{infoEtudiant.dep_nom}}</td>
		<td>{{infoEtudiant.vil_nom}}</td></tr>
 </table>
