{{> enTete}}
{{> menu}}
 <h1>Détail sur l'étudiant {{this.per_nom}}</h1>
 <p>Actuellement, il y a {{nbPersonne}} enregistrées</p>
 <table>
 	<tr>
 		<th>Prénom</th>
 		<th>Mail</th>
 		<th>Tel</th>
 		<th>Tel pro</th>
 		<th>Fonction</th>
 	</tr>
 	{{#each infoSalarie}}
 		<tr><td>{{this.per_prenom}}</td>
 			<td>{{this.per_mail}}</td>
 			<td>{{this.sal_telprof}}</td>
 			<td>{{this.fon_libelle}}</td></tr>
 	{{/each}}
 </table>
