{{> enTete}}
{{> menu}}
 <h1>Détail sur le salarié {{infoSalarie.per_nom}}</h1>
 <table>
 	<tr>
 		<th>Prénom</th>
 		<th>Mail</th>
 		<th>Tel</th>
 		<th>Tel pro</th>
 		<th>Fonction</th>
 	</tr>
 	<tr><td>{{infoSalarie.per_prenom}}</td>
 		<td>{{infoSalarie.per_mail}}</td>
 		<td>{{infoSalarie.per_tel}}</td>
 		<td>{{infoSalarie.sal_telprof}}</td>
 		<td>{{infoSalarie.fon_libelle}}</td></tr>
 </table>
