{{> enTete}}
{{> menu}}		
<h1> Rechercher une citation</h1>

<form method="POST" action="/recherche">
	<label>Enseignant</label>
	<select name="prof">
		{{#each enseignant}}
			<option value="{{this.per_nom}}">{{this.per_nom}}</option>
		{{/each}}
	</select>
	<br>
	<label>Date</label>
	<select name="date">
		{{#each date}}
			<option value="{{this.cit_date}}">{{this.cit_date}}</option>
		{{/each}}
	</select>
	<br>
	<label>Note</label>
	<select name="note">
		{{#each note}}
			<option value="{{this.cit_date}}">{{this.cit_date}}</option>
		{{/each}}
	</select>
	<br>
	<input type="submit" value="Rechercher">
</form>