{{> enTete}}
{{> menu}}		
<h1> {{title}}</h1>

{{#if res}}
	<p><img src="/image/{{img}}" alt="{{res}}" > {{statu}}</p>
  <p>Redirection automatique dans 2 secondes. </p>
  <script type="text/javascript">   
  function Redirect() 
  {  
    window.location="/supprimerVille"; 
  } 
  setTimeout('Redirect()', 2000);   
  </script>
{{else}}
<p>Il y a actuellement {{nb}} villes.</p>
 <table>
     <tr>
       <th>Numéro</th>
       <th>Nom</th>
       <th></th>
     </tr>                               
 {{#each listeVille}}
 	<form action="/suppressionVille" method="POST">
    	<tr>
    		  <input name='vil_num' value='{{this.vil_num}}' type='int' hidden></input>
    			<td>{{this.vil_num}}</td>
    			<td>{{this.vil_nom}}</td>
    			<td><input value='submit' src="image/erreur.png" type='image'></td>
    	</tr>
    </form>
 {{/each}}	
{{/if}}
 </table>